@using SquishIt.Framework
@{
    ViewBag.Title = "SquishIt-Mvc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Features:</h3>
<ul>
    <li>@Html.ActionLink("Minify Css", "MinifyCss", "Features")</li>
    <li>@Html.ActionLink("Minify Css - YUI", "MinifyCssYUI", "Features")</li>
    <li>@Html.ActionLink("Minify Js", "MinifyJs", "Features")</li>
    <li>@Html.ActionLink("Minify Js - YUI", "MinifyJsYUI", "Features")</li>
    <li>@Html.ActionLink("Hash in File Name", "HashInFileName", "Features")</li>
    <li>@Html.ActionLink("Hash as Virtual Directory", "HashAsVirtualDirectory", "Features")</li>
    <li>@Html.ActionLink("Render Named", "RenderNamed", "Features")</li>
    <li>@Html.ActionLink("Css Imports", "Imports", "Features")</li>
    <li>@Html.ActionLink("Processed Css Imports", "ProcessImports", "Features")</li>
    <li>@Html.ActionLink("Folders", "Folders", "Features")</li>
    <li>@Html.ActionLink("Recursive Folders", "RecursiveFolders", "Features")</li>
    <li>@Html.ActionLink("Standard Embedded Resource", "EmbeddedResource", "Features")</li>
    <li>@Html.ActionLink("Root Embedded Resource", "RootEmbeddedResource", "Features")</li>
    <li>@Html.ActionLink("Local Relative Asset Hashing", "LocalRelative", "AssetHashing")</li>
    <li>@Html.ActionLink("Root Relative Asset Hashing", "RootRelative", "AssetHashing")</li>
</ul>


<h3>Preprocessors:</h3>
<ul>
    <li>@Html.ActionLink("Hogan", "Hogan", "Preprocessors")</li>
    <li>@Html.ActionLink("Coffeescript", "Coffee", "Preprocessors")</li>
    <li>@Html.ActionLink("LESS", "Less", "Preprocessors")</li>
    <li>@Html.ActionLink("SASS/SCSS (libsass-net)", "Sass", "Preprocessors")</li>
    <li>@Html.ActionLink("SCSS (NSass)", "NSass", "Preprocessors")</li>
    <li>@Html.ActionLink("Arbitrary Content With Imports", "ArbitraryContentWithImports", "Preprocessors")</li>
</ul>

<h3>Debugging Behavior</h3>
<ul>
    <li>@Html.ActionLink("Force via Predicate", "ForceViaPredicate", "DebuggingBehavior")</li>
</ul>

<h3>Auto Bundling</h3>
<ul>
    <li>@Html.ActionLink("Javascript", "Javascript", "AutoBundling")</li>
    <li>@Html.ActionLink("Css", "Css", "AutoBundling")</li>
    <li>@Html.ActionLink("Combined", "Combined", "AutoBundling")</li>
    <li>@Html.ActionLink("Coffeescript", "Coffee", "AutoBundling")</li>
    <li>@Html.ActionLink("Hogan", "Hogan", "AutoBundling")</li>
    <li>@Html.ActionLink("LESS", "Less", "AutoBundling")</li>
    <li>@Html.ActionLink("SASS/SCSS", "Sass", "AutoBundling")</li>
</ul>
@section JavaScript {

}